  <div class="row">
    <div class="col-sm-12">
      <h4>Teameinladung</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      Fach: {{getMeldungen()[$index].fach}}, Gruppe: {{getMeldungen()[$index].grpNr}}, Von: {{getMeldungen()[$index].absender}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-my-block" data-placement="bottom" title="annehmen" onmouseenter="$(this).tooltip('show')" ng-click="bestaetigeEinladung($index)">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-my-default btn-sm" ng-click="lehneEinladungAb($index)" title="ablehnen" onmouseenter="$(this).tooltip('show')">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-my-default btn-sm" ng-click="" title="Details" onmouseenter="$(this).tooltip('show')">
        <span class="glyphicon glyphicon-info-sign"></span>
      </button>
    </div>
  </div>
