<div class="modal" id="teamErstellen" role="dialog">
  <div class="modal-dialog" style="width:40%">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">
          <strong>Team erstellen <small> - Fach GKA - Gruppe 2</mall></strong>
        </h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-8 inner-addon right-addon">
            <span class="glyphicon glyphicon-search"></span>
            <input type="text" class="form-control" ng-model="searchKeyword" placeholder="Matrikelnr., Vorname, Nachname..." />
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-my-block" ng-click="" data-placement="bottom" title="Teilnehmer auswählen" onmouseenter="$(this).tooltip('show')">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div>
        <div class="row">
          <br />
          <div class="col-sm-12 text text-muted">
            <h6>Ausgewählte Teilnehmer:</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>MatrikelNr.</th>
                  <th>Vorname</th>
                  <th>Nachname</th>
                  <th>Fachbereich</th>
                  <th>Semester</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1231234</td>
                  <td>Malte</td>
                  <td>Scheller</td>
                  <td>AI</td>
                  <td>5</td>
                  <td>
                    <button type="button" class="btn btn-my-default btn-sm" ng-click="" data-placement="bottom" title="Teilnehmer entfernen" onmouseenter="$(this).tooltip('show')">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>1323234</td>
                  <td>Gerrit</td>
                  <td>Bode</td>
                  <td>AI</td>
                  <td>4</td>
                  <td>
                    <button type="button" class="btn btn-my-default btn-sm" ng-click="" data-placement="bottom" title="Teilnehmer entfernen" onmouseenter="$(this).tooltip('show')">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <br />
          <div class="col-sm-12">
            <button type="button" data-dismiss="modal" class="btn btn-my-block" data-placement="bottom" title="Übernehmen" onmouseenter="$(this).tooltip('show')">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
