<div class="panel-body" ng-controller="NewsController">
  <div class="row" ng-controller="EditController">
    <div class="col-sm-12">
      <h3>
        News bearbeiten
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <textarea type="text" class="form-control" rows="1" ng-model="news.header"></textarea>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <textarea class="form-control" rows="6" ng-model="news.bod"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <br/>
    <div class="col-md-12">
      <button type="button" class="btn btn-my-block" ng-click="speichereNews(); hideEditPanel(); switchToNews()" data-placement="bottom" title="Speichern" onmouseenter="$(this).tooltip('show')"><span class="glyphicon glyphicon-ok"></span></button>
    </div>
  </div>
  <div class="row">
    <br/>
    <div class="col-md-12">
      <button type="button" class="btn btn-my-block" data-placement="bottom" title="Abbrechen" ng-click="hideEditPanel()" onmouseenter="$(this).tooltip('show')"><span class="glyphicon glyphicon-minus"></span></button>
    </div>
  </div>
</div>
