<div id="modalNews" ng-controller="NewsController">
  <div class="row" ng-controller="TabController">
    <br/>
    <div class="col-sm-12">
      <button type="button" class="btn btn-my-block" ng-click="newsErstellenClose()" data-placement="bottom" title="Abbrechen" onmouseenter="$(this).tooltip('show')">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
    </div>
  </div>
  <div class="row">
    <!-- Modal content-->
    <div class="col-sm-12">
      <hr />
      <h3>News erstellen</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <input type="text" class="form-control" ng-model="news.header" placeholder="Überschrift" />
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <textarea class="form-control" rows="10" ng-model="news.bod" placeholder="Artikel"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <br/>
    <div class="col-md-12">
      <button type="button" class="btn btn-my-block" ng-click="speichereNews(); newsErstellenClose(); initCurrNews()" data-placement="bottom" title="Speichern" onmouseenter="$(this).tooltip('show')"><span class="glyphicon glyphicon-ok"></span></button>
    </div>
  </div>
</div>
