<div id="subnewserstellen">
  <div class="row">
    <br/>
    <div class="col-sm-12">
      <button type="button" class="btn btn-my-block" ng-click="subNewsErstellenClose()" data-placement="bottom" title="Abbrechen" onmouseenter="$(this).tooltip('show')">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
    </div>
  </div>
  <div class="row">
    <!-- Modal content-->
    <div class="col-sm-12">
      <hr />
      <h3>Subartikel erstellen</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Sub-Überschrift" />
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <textarea class="form-control" rows="10" placeholder="Sub-Artikel"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-my-block" ng-click="subNewsErstellen()" data-placement="bottom" title="Subartikel hinzufügen" onmouseenter="$(this).tooltip('show')"><span class="glyphicon glyphicon-file"></span></button>
      </div>
    </div>
  </div>
  <div class="row">
    <br/>
    <div class="col-md-12">
      <button type="button" class="btn btn-my-block" data-placement="bottom" title="Speichern" onmouseenter="$(this).tooltip('show')"><span class="glyphicon glyphicon-ok"></span></button>
      </div>
    </div>
  </div>
</div>
